<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalCtrl.close()">&times;</button>
		<h4 class="modal-title">Update Employee</h4>
	</div>
    <form name="editForm" autocomplete="off" ng-submit="modalCtrl.updateEmployee(modalCtrl.editObj)">
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="name" ng-required="true" ng-model="modalCtrl.editObj.name" ng-pattern="/^[A-Za-z .]*$/">
                <p ng-if="editForm.name.$error.pattern" class="help-block">
                	Alphabates only
                </p>
            </div>
            <div class="form-group">
                <label>Number</label>
                <input type="text" class="form-control" placeholder="Enter text" ng-required="true" name="number" ng-model="modalCtrl.editObj.number" ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10">
                <p ng-if="editForm.number.$error.pattern" class="help-block">
                	Numbers only
                </p>
                <p ng-if="editForm.number.$error.minlength || editForm.number.$error.maxlength" class="help-block">
                	Length should be 10
                </p>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Enter text" ng-required="true" name="email" ng-model="modalCtrl.editObj.email" ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/i">
                <p ng-if="editForm.email.$error.pattern" class="help-block">
                	Invalid email format
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="editForm.$invalid" type="submit">Update</button>
            <button class="btn btn-default" type="button" ng-click="modalCtrl.close()">Cancel</button>
        </div>
    </form>
</div>