<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalCtrl.close()">&times;</button>
		<h4 class="modal-title">Confirmation</h4>
	</div>
    <div class="modal-body">
        <h2>Are you sure...?</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modalCtrl.delete()" type="button">Yes</button>
        <button class="btn btn-default" type="button" ng-click="modalCtrl.close()">No</button>
    </div>
</div>