<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="btn btn-primary" ng-click="empCtrl.openModal()">Add</span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>EMail</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="emp in empArray">
                                <td>{{$index + 1}}</td>
                                <td>{{emp.name}}</td>
                                <td>{{emp.number}}</td>
                                <td>{{emp.email}}</td>
                                <td>
                                    <span style="cursor: pointer;">
                                        <i class="fa fa-edit" ng-click="empCtrl.openView(emp)"></i>
                                        &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-remove" ng-click="empCtrl.deleteView($index)"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
