<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form name="signinForm" autocomplete="off" ng-submit="authCtrl.signin(signinData)">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" ng-model="signinData.email" type="text" autofocus ng-required="true"
                                ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/i">
                                <span ng-if="signinForm.email.$error.pattern">
                                    Invalid email format
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" ng-model="signinData.password" type="password" ng-required="true">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="signinForm.$invalid">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>